POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=scrapshe
POSTGRES_USER=scrapshe
POSTGRES_PASSWORD=changeme

IG_USER=seu_usuario_instagram
IG_PASSWORD=sua_senha_instagram

# Opcional
LOG_LEVEL=info
DASHBOARD_PORT=8501
